.navbar {
    background-color: #28a745; /* Cor verde restaurada */
    padding: 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Ajustado para alinhar os itens */
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    color: #007bff;
  }
  
  .navbar-item span {
    color: white;
    font-weight: bold;
  }
  
  .navbar-item .navbar-link {
    display: inline-block;
    margin-right: 20px;
  }
  